/* 1 */
.tableMultiplication {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
}

.multiplicationTable {
    width: calc(20% - 10px);
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.multiplication {
    display: block;
    line-height: 1.6;
}
/* 7 */
.calendar {
    border-collapse: collapse;
    width: 300px;
    margin: 20px auto;
}

.calendar caption {
    font-weight: bold;
    padding: 10px;
    text-align: center;
}

.calendar th,
.calendar td {
    border: 1px solid #ccc;
    padding: 8px;
    text-align: center;
}

.calendar .highlight {
    color: red;
    font-weight: bold;
}
