/* 1 */
.tableMultiplication {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
}

.multiplicationTable {
    width: calc(20% - 10px);
    border: 1px solid black;
    box-sizing: border-box;
    background-color: white;
}

.multiplication {
    display: block;
    line-height: 1.6;
}
/* 2 */
